#box button{
  width:230px;
  height:230px;
 border-radius: 10px;
  background-color: white;
  
}

#screen {
  width: 50px;
  height: 50px;
  
  border-radius: 8px;
  font-size: 30px;
  text-align: center;
  float: left;
}


#box {
    width: 484px;
    height: 482px;
    border: 10px solid black;
    float:left;
    background: #ffffff;
    
    
    
}
#strict.clicked { 
    background-color: red;
  border-style: inset;
}
#red:active {
    background-color: red;
}

#blue:active {
    background-color: blue;
}
#yellow:active {
    background-color: yellow;
}
#green:active {
    background-color: green;
}